:root {
  --border-color: #eeeeee;
  --grey: #777;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.load-more.is-hidden {
  display: none;
}

.search-form {
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
}

input {
  width: 30%;
  padding: 12px 12px 12px 20px;
  margin-right: 12px;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: none;
}

.search-button {
  width: 75px;

  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  border: transparent;

  color: var(--grey);
  background-color: #ffffff;
}

.search-button:hover,
.search-button:focus {
  box-shadow: inset 0px 0px 12px 0px #009bf280;
}

.gallery {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  display: flex;
}

.photo-card {
  width: 250px;
  margin-bottom: 20px;
}

.photo-card:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

img {
  display: block;
  width: 250px;
  height: 175px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: var(--grey);
}

.info {
  display: flex;
  text-align: center;
  padding: 12px 4px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-radius: 4px;
}

.info-item {
  font-size: 12px;
}
